# App
NODE_ENV=
PORT=
API_VERSION=

# Database (PostgreSQL)
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CORS (untuk web dashboard, dashboard, dsb)
CORS_ORIGIN=